@model MvcRestaurant.Models.Table

@{
    ViewBag.Title = "AddTable";
}

<h2>AddTable</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ListGen</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DimensionTable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DimensionTable )
            @Html.ValidationMessageFor(model => model.DimensionTable)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.CoordinatesTable.CoordinateX)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CoordinatesTable.CoordinateX)
            @Html.ValidationMessageFor(model => model.CoordinatesTable.CoordinateX)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CoordinatesTable.CoordinateY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CoordinatesTable.CoordinateY)
            @Html.ValidationMessageFor(model => model.CoordinatesTable.CoordinateY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>
   
           <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
