@model MvcRestaurant.Models.Waiter

@{
    ViewBag.Title = "AddWaiter";
}

<h2>AddWaiter</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>ListGen</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name )
            @Html.ValidationMessageFor(model => model.Name)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.NumberEmployee)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberEmployee)
            @Html.ValidationMessageFor(model => model.NumberEmployee)
        </div>
       @* <div class="editor-label">
            @Html.LabelFor(model => model.Coordinator)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coordinator)
            @Html.ValidationMessageFor(model => model.Coordinator)
        </div>
   *@
           <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Coordinator", "Waiters")
</div>
