@model MvcRestaurant.ViewModel.TablesAndWaterView
@using MvcRestaurant.Models
       


@{
    ViewBag.Title = "Coordinator";
    }

<h2>Coordinator</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Coordinators AND Tables</legend>
    </fieldset>
    
    <table class ="coordinatorTable">
 <tr>

    <th>
         Waiter Name
    </th>
    <th>
         Table Coordinates
    </th>
    <th>
         Table Dimension
    </th>
    <th>
         Table Status
    </th>
    <th>
         Change Details
    </th>

  </tr>

 @foreach (var item in Model.AllocatedTable.Keys)
{ 
    <tr>
        <td rowspan = @(Model.AllocatedTable[item].Count + 1)>
            @item
           
        </td>
            @foreach (var tableItem in Model.AllocatedTable[item])
            {
              <tr>
                   <td>
                     { @tableItem.CoordinatesTable.CoordinateX, @tableItem.CoordinatesTable.CoordinateY}

                   </td>
                  <td>@tableItem.DimensionTable</td>
                  <td>@tableItem.Status.ToString()</td>
                  <td> @Html.ActionLink("Change", "Change", "Waiters", new {tableId = tableItem.TableId }, null)</td>
              </tr>
            }
 
    </tr>
       
}
</table>
    
    <p>
        @Html.ActionLink("Add Waiter", "AddWaiter", "Waiters")
    </p>
   
    <table>
 <tr>
    <th>
     Waiter Name
     </th>
     <th>
         Status
     </th>

  </tr>
        @foreach (var item in Model.WaiterList)
        {
          <tr>
              <td>
                  @Html.DisplayFor(model => item.Name)
              </td>
              <td>
                  @Html.DisplayFor(model => item.Status)
              </td>
          </tr>
        }
        </table>
    
    <p>
        @Html.ActionLink("AddTable", "AddTable", "Waiters")
    </p>

}