@model MvcRestaurant.ViewModel.WaiterTableViewModel
          @using MvcRestaurant.Models


@{
    ViewBag.Title = "WriteNote";
}

<h2>WriteNote</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>WriteNote</legend>
        @Html.HiddenFor(model => model.Table.TableId)
       
        <div>
            @Html.TextAreaFor(model => model.Waiter.Note, new {id = "note1", @class="notes"})
            @Html.DisplayFor(modelItem => modelItem.Waiter.WaiterId)
        
            
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Table.Status)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Table.Status, Model.Statuses)
        </div>
        @*<div>
            @Html.DropDownList("Status", ViewBag.EnumList as SelectList)
        </div>*@
        </fieldset>
    @*<table>
 <tr>
     <th>
         Chooese status
     </th>
    <th></th>
  </tr>
@foreach (var item in Model.Waiter.Tables)
{ 
    <tr>
        <td>
             @Html.DisplayFor(modelItem => item.DimensionTable)
        </td>
 
    </tr>
 
}
</table>

}*@

           <p>
            <input type="submit" value="Save" />
        </p>
    
    <p>
            <input type="submit" value="Delete Note" id="clearNote" />
        </p>
  
}
<script>
    $(function(){
        $("#clearNote").click(function (event) {
            event.preventDefault();
            $("#note1").val("");
        
        });
    });
</script>
