@using System.ServiceModel
@model  MvcHangman.Models.GameInfo

@{
    ViewBag.Title = "Index";
 }

<section class="hangman-image" >
      <figure>
        <img src="Images/welcome-hangman.png" alt="hangman image">
      </figure>
    </section>

<h2>Guess world</h2>

<h2>
     @foreach (var character in Model.hiddenWorld)
     {
         var variable = false;
         foreach (var letter in Model.letterUsed)
         {
             if (Char.ToLower(letter) == character)
             {

                 variable = true;
                 break;
             }

         }
         
         if (variable == true)
             
         {
             
         @Html.Raw(character.ToString())

     }
         else
         {
           @Html.Raw("_ ")

     }
        
        
     }
    
    @Html.Hidden("numberOfChoices", Model.numberChoices, new {@id = "numberOfChoices"})

    <div>
        Number of choices left: 
      @Model.numberChoices
    </div>

    <div>
        Already used letter:
        @foreach (var b in Model.letterUsed)
        {
          @Html.Raw((char)b + ", ");
        }

    </div>

    @using (Html.BeginForm())
    { 
       <div>
           @Html.HiddenFor(m => m.hiddenWorld)
           @Html.HiddenFor(m => m.letterUsed)
           @Html.DropDownListFor(m => m.letterNext, Model.lettersAvailable) <button type="submit">Try</button>
           @Html.ValidationMessageFor(m => m.letterNext)

       </div>
    }

</h2>

@section scripts
{
   <script src="@Url.Content("~/Scripts/hangman.js")" type="text/javascript"></script>    
}