@model IEnumerable<MvcTask.Models.ListGen>

@helper Truncate(string input, int length)
{
      if (input.Length <= length) {
           @input
      } else {
           @input.Substring(0, length)<text>...</text>
      }
}


@{
ViewBag.Title = "Storeeee";
 }


<h2>Index</h2>

<p> @Html.ActionLink("Create New", "Create")
</p>

<table>
 <tr>
    <th>
       Name
     </th>
    <th>
     Description
    </th>
     <th>
         Number of Taks
     </th>
     <th>
         Actions
     </th>
  </tr>
@foreach (var item in Model) {
  <tr>
 <td> 
    @Truncate(item.Name, 25)
 </td>
<td>
     @Truncate(item.Description, 25)
 </td>
      <td>
            
            @Html.DisplayFor(modelItem => item.Tasks.Count)
        
        </td>
      
 <td>
     @Html.ActionLink("Edit", "Edit", new { listId=item.ListGenId }) | 
     @if (item.Tasks.Count == 0)
     {
        @Html.ActionLink("Delete", "Delete", new { id = item.ListGenId }) 
     }
     else
     {
        @Html.ActionLink("Delete", "Delete", new { id = item.ListGenId }, new { @class = "not-active"}) 
     }
     |  @Html.ActionLink("DeleteAll", "DeleteAll", new { id = item.ListGenId })
 </td>
 </tr>
}
</table>