@model MvcRestaurant.Models.User

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register" ,"Login") if you don't have an account.
</p>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Login Form</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.passWord)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.passWord)
            @Html.ValidationMessageFor(model => model.passWord)
        </div>

         <div class="editor-label">
                @Html.CheckBoxFor(model => model.RememberMe)
                @Html.LabelFor(model => model.RememberMe)
            </div>
   
           <p>
            <input type="submit" value="Login" />
        </p>
       
    </fieldset>
}
