
@using MvcXAnd0.Models;
@using System.Linq;

@model GameModel


@{
    ViewBag.Title = "Index";
}

<h1>Play X and 0</h1>
<header>
    <meta name="viewport" content="width-device-width" />
</header>
<div>
    <table border="1">
        @for (int i = 0; i < 3; i++)
        {
          <tr>
              @for (int j = 0; j < 3; j++)
              {
                  //<td style="width: 60px; height: 60px;"></td>
                  <td class="myCell">
                    @foreach(var m in Model.CurrentGame)
                    {
                         if(m.CoordX == i && m.CoordY == j)
                        {
                         
                        // @Html.Raw("X");
                             @m.Player
                            
                        }
                    }
                      
                  </td>
              }

          </tr>
         
        }


    </table>


</div>
Select coordinates:
 </div>
@if (Model.GameEnded)
{
  @Html.Raw(Model.Message)
}
else
{
   using (Html.BeginForm()) {
    
 
        
        <div>
            X Coordinates:
         @Html.DropDownListFor(m => m.EditCoordonate.CoordX, Enumerable.Range(0,3).Select( x => new SelectListItem { Text = x.ToString() }))
        </div>
    
        <div>
            Y Coordinates:
        @Html.DropDownListFor(m => m.EditCoordonate.CoordY, Enumerable.Range(0,3).Select( x => new SelectListItem { Text = x.ToString() }))
        </div>
   
    

        <p>
            <input  id="new" type="submit" value="Submit" />
        </p>
}   
    
}
