@model IEnumerable<AirlineCompany.Models.Fligth>

@{
    ViewBag.Title = "FligthsFromLocation";
}

<h2>FligthsFromLocation</h2>

@using (Html.BeginForm("FligthsFromLocation", "Form", FormMethod.Get))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fligths From Location</legend>
        
    
       <p>
            Find Location : @Html.TextBox("search", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
        <p>
             View the flights this day : @Html.TextBox("date", ViewBag.CurrentFilter as string, new { @class="datetime", type = "datetime"})
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}
<table>
    <tr>
        <th>
             Location
        </th>
        <th>
            Destination
        </th>
        <th>
            Departure Time
        </th>
        <th>
             Flight Duration 
        </th>
        <th>
            Arrival Time
        </th>
         <th>
            Date Fligth
        </th>
        <th>
            View Seat
        </th>
    </tr>

    @foreach (var item in Model)
    {
       <tr>
           <td>
               @Html.DisplayFor(modelItem => item.Location)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.Destination)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.DepartureTime)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.FlightDuration)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.ArrivalTime)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.DateFlight)
           </td>
           <td>
               @Html.ActionLink("ViewSeat", "ViewSeat", "Form")
           </td>
       </tr>
    
    }
</table>
<script type="text/javascript">

    $(document).ready(function () {
        $('.datetime').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });
</script>  