@model IEnumerable<AirlineCompany.Models.Fligth>

@{
    ViewBag.Title = "FligthsToLocation";
}

<h2>FligthsToLocation</h2>

@using (Html.BeginForm("FligthsToLocation", "Form", FormMethod.Get))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fligths To Location</legend>
        
    
       <p>
            Find Destination: @Html.TextBox("search", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
        <p>
            View the flights this day : @Html.TextBox("search", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}
<table>
    <tr>
        <th>
             Destination
        </th>
        <th>
            Location
        </th>
        <th>
            Departure Time
        </th>
        <th>
             Flight Duration 
        </th>
        <th>
            Arrival Time
        </th>
        <th>
            View Seats
        </th>
    </tr>

    @foreach (var item in Model)
    {
       <tr>
           <td>
               @Html.DisplayFor(modelItem => item.Destination)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.Location)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.DepartureTime)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.FlightDuration)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.ArrivalTime)
           </td>
           <td>
               @Html.ActionLink("ViewSeat", "ViewSeat", "Form")
             
           </td>
       </tr>
    
    }
</table>