@model IEnumerable<AirlineCompany.Models.Fligth>

@{
    ViewBag.Title = "FligthsFromLocation";
}

<h2>FligthsFromLocation</h2>

@using (Html.BeginForm("FligthsFromLocation", "Form", FormMethod.Get))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Fligths From Location</legend>
        
    
       <p>
            Find: @Html.TextBox("search", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    </fieldset>
}
<table>
    <tr>
        <th>
             Location
        </th>
        <th>
            Destination
        </th>
        <th>
            Departure Time
        </th>
        <th>
             Flight Duration 
        </th>
        <th>
            Arrival Time
        </th>
    </tr>

    @foreach (var item in Model)
    {
       <tr>
           <td>
               @Html.DisplayFor(modelItem => item.Location)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.Destination)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.DepartureTime)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.FlightDuration)
           </td>
           <td>
               @Html.DisplayFor(modelItem => item.ArrivalTime)
           </td>
       </tr>
    
    }
</table>