@using AirlineCompany.Models
@using AirlineCompany.ViewModels


@model AirlineCompany.ViewModels.SeatsModelView

@{
    ViewBag.Title = "ViewSeat";
}

<h2>ViewSeat</h2>

<div class="demo">
   		<div id="seat-map">
			<div class="front">Seats</div>					
		</div>
			<div id="legend">Legend</div>
    
		</div>
 <div>
  <table>
      
      @foreach (var item in Model.Fligth.Planes)
      {
        
          for (int i = 0; i < item.NumberRow; i++)
          {
             
             for (int j = 0; j < item.NumberPlaceRow; j++)
             {
               
                 @Html.Image("/Content/images/seat1.gif", "alt", "100", new { @class = "imag" })
                          
                              
             }

          }
           
      
      }
        
         @*    
           @for (int i = 1; i < Model.Planes.NumberRow; i++ )
         {
             <tr>
             
             @for (int j = 1; j < Model.Planes.NumberPlaceRow; j++ )
             {
                 <td class="myCell">
                    
                      <div class ="Img">  
               
                     @Html.Image("/Content/images/seat1.gif", "alt", "100", new { @class = "imag" })
                          
                      </div>
                     
               </td>
             }
                 </tr>
          }  
          
         *@
      </table>
         
     <div id="seatDescription">
         <div>
        <img src= "@Url.Content("~/Content/images/seat1.gif")" />
            <span>Available Table</span>
            </div>

          <div>
        <img src= "@Url.Content("~/Content/images/seat2.gif")" />
              <span>Reserved Table</span>
              </div>

                <div>
                 <img src="@Url.Content("~/Content/images/seat3.gif")" /> 
                    <span>Occupied Table</span>
                    </div>
    </div>

     @using (Html.BeginForm())
     {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Information Passenger</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NamePassenger)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NamePassenger)
            @Html.ValidationMessageFor(model => model.NamePassenger)

        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.BirthdatePassenger)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BirthdatePassenger, new { @class = "datetime", type = "datetime" })
            @Html.ValidationMessageFor(model => model.BirthdatePassenger)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CNP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNP)
            @Html.ValidationMessageFor(model => model.CNP)
        </div>
   <div>
        @Html.TextBox("hiddenIdSeat","", new {@class = "SelectSeat" })
   </div>
    </fieldset>
         
         <p>
            <input type="submit" value="Confirm Rezervation Seat" />
       </p>
     }

 </div>



<script>
    var seat = $('.SelectSeat');
    var lastSeat;
    $(".imag").on('click', function () {

        if (lastSeat != null) {

            if (lastTable.attr("src") == "/Content/images/seat1.gif") {
                lastTable.attr("src", "/Content/images/seat2.gif")
            }
            else {
                lastTable.attr("src", "/Content/images/seat1.gif")
            }

        }


    });

    $(".imag").on('click', function () {

        if ($(this).attr("src").toString().indexOf('seat1.gif') != -1) {


            this.src = this.src.replace("seat1.gif", "seat2.gif");

        }

        else {

            this.src = this.src.replace("seat2.gif", "seat1.gif");
           


        }

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.datetime').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });
</script>  