@using AirlineCompany.Models
@using AirlineCompany.ViewModels


@model AirlineCompany.ViewModels.SeatsModelView

@{
    ViewBag.Title = "ViewSeat";
}

<h2>ViewSeat</h2>

<div class="demo">
   		<div id="seat-map">
			<div class="front">Seats</div>					
		</div>
			<div id="legend">Legend</div>
    
		</div>
 <div>
  <table>
      
      
          @for (int i = 0; i < Model.Fligth.Plane.NumberRow; i++)
          {
              <div>
             
             @for (int j = 0; j < Model.Fligth.Plane.NumberPlaceRow; j++)
             {
               
                 @Html.Image("/Content/images/seat1.gif", "alt", "100", new { @class = "imag", data_x = i, data_y = j})
                          
                              
             }
              </div>
         }
        
       </table>
         
     <div id="seatDescription">
         <div>
        <img src= "@Url.Content("~/Content/images/seat1.gif")" />
             <span>Available Table</span>
     </div>

     <div>
        <img src= "@Url.Content("~/Content/images/seat2.gif")" />
             <span>Reserved Table</span>
     </div>

     <div>
         <img src="@Url.Content("~/Content/images/seat3.gif")" /> 
              <span>Occupied Table</span>
     </div>

 </div>

     @using (Html.BeginForm())
     {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Information Passenger</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NamePassenger)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NamePassenger)
            @Html.ValidationMessageFor(model => model.NamePassenger)

        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.BirthdatePassenger)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.BirthdatePassenger, new { @class = "datetime", type = "datetime" })
            @Html.ValidationMessageFor(model => model.BirthdatePassenger)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.CNP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CNP)
            @Html.ValidationMessageFor(model => model.CNP)
        </div>
   <div>
        @Html.TextBox("hiddenIdSeat","", new {@class = "SelectSeat" })
   </div>
        <div>
        @Html.TextBox("hiddenIdSeatColumn","", new {@class = "SelectSeatColumn" })
   </div>
        
    </fieldset>
         
             @*<div>
              @Html.ActionLink("Confirm", "Confirm", "Form", new { reservedId = Model.ReservationId}, null)
         </div>*@
         
         <p>
            <input type="submit" value="Confirm Rezervation Seat" />
       </p>
     }

 </div>



<script src="@Url.Content("~/Scripts/SeatControl.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.datetime').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });
</script>  