@using AirlineCompany.Models
@using AirlineCompany.ViewModels

@model AirlineCompany.ViewModels.SeatsModelView

@{
    ViewBag.Title = "ViewSeat";
}

<h2>ViewSeat</h2>

<div class="demo">
   		<div id="seat-map">
			<div class="front">Seats</div>					
		</div>
			<div id="legend">Legend</div>
    
		</div>
 <div>
     <table>
         @foreach(var item in Model.Planes)
         {
             
          for (int i = 0; i < item.NumberRow; i++ )
         {
             <tr>
             
             @for (int j = 0; j < item.NumberPlaceRow; j++ )
             {
                 <td class="myCell">
                      <div class ="Img">  
               
                     @Html.Image("/Content/images/seat1.gif", "alt", "100", new { @class = "imag" })
                          </div>
               </td>
             }
                 </tr>
                
         }
         }
     </table>
     <div id="seatDescription">
         <div>
        <img src= "@Url.Content("~/Content/images/seat1.gif")" />
            <span>Available Table</span>
            </div>

          <div>
        <img src= "@Url.Content("~/Content/images/seat2.gif")" />
              <span>Reserved Table</span>
              </div>

                <div>
                 <img src="@Url.Content("~/Content/images/seat3.gif")" /> 
                    <span>Occupied Table</span>
                    </div>
    </div>

     @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Information Passenger</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.InfoPass.NamePassenger)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InfoPass.NamePassenger)
            @Html.ValidationMessageFor(model => model.InfoPass.NamePassenger)

        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.InfoPass.BirthdatePassenger)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.InfoPass.BirthdatePassenger , new { @class="datetime", type = "datetime"})
            @Html.ValidationMessageFor(model => model.InfoPass.BirthdatePassenger)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.InfoPass.CNP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InfoPass.CNP)
            @Html.ValidationMessageFor(model => model.InfoPass.CNP)
        </div>
   
    </fieldset>
         
         <p>
            <input type="submit" value="Confirm Rezervation Seat" />
       </p>
     }

 </div>



<script>
    $(".imag").on('click', function () {

        if ($(this).attr("src").toString().indexOf('seat1.gif') != -1) {


            this.src = this.src.replace("seat1.gif", "seat2.gif");

        }

        else {

            this.src = this.src.replace("seat2.gif", "seat1.gif");
           


        }

    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $('.datetime').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });
</script>  