@model MvcRestaurant.Models.Reservation

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Reservation Form</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfPeople)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfPeople)
            @Html.ValidationMessageFor(model => model.NumberOfPeople)
        </div>
 
        <div class="editor-label">
            @Html.LabelFor(model => model.ReservationDate)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ReservationDate, new {id = "ReservationDate", @class="datetime", type = "datetime"})
            @Html.ValidationMessageFor(model => model.ReservationDate)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.ReservationTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ReservationTime)
            @Html.ValidationMessageFor(model => model.ReservationTime)
        </div>
   
           <p>
            <input type="submit" value="Next" />
        </p>
        <p> @Html.ActionLink("ViewTables", "ViewTables")
</p>
         <p> @Html.ActionLink("ViewDiagram", "ViewDiagram")
</p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script type="text/javascript">

      $(document).ready(function () {
        $('.datetime').datepicker({
            dateFormat: "dd/M/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:+0"
        });

    });
</script>  
  